Library/
.local/

.config/fish/completions
.config/fish/functions
.config/fish/fish_variables
.config/fish/themes

.CFUserTextEncoding
.DS_Store
.secrets
.lesshst
.cups
.age
.vscode
Applications/
Documents/
Pictures/
Movies/
Downloads/
Music/
Desktop/
Public/
Repositories/
.ssh/
.viminfo
!.ssh/config
.config/fish/fish_variables
.config/zsh/.zcompcache
.config/zsh/.zcompdump
.Trash
